<h1 style="color: {{ .Params.color}};">Single Template</h1><hr><br>


<br> 
Variable Practice
<br>
{{.Title}}
<br>
{{.Date}}
<br>
URLS : {{.URL}}
<br>
Myvar from md file : {{ .Params.myVar}}
<br> 
myVar from Template file
{{ $myVarName := "aString"}}
{{ $myVarName}}

<br> 
------------------------------------------------------------------------
<br> 
Funciton Practice
<br>
{{ truncate 15 "this is a really long string"}}
<br>
add 1 + 5 = {{ add 1 5}}
<br>
{{ singularize "dogs"}}

<br> 
------------------------------------------------------------------------
<br> 
Conditional Practice

<br>
dog is cat ??
{{ $var1 := "dog"}}
{{ $var2 := "cat"}}

{{ if eq $var1 $var2 }}
    True
{{ else}}
    False
{{ end}}
<br>
dog is cat ??
{{ if not (eq $var1 $var2) }}
    True
{{ else}}
    False
{{ end}}

<br> 
------------------------------------------------------------------------
<br> 
Conditional Practice Page , Style

{{ $title := .Title}}
{{ range .Site.Pages}}
    <li><a href="{{.URL}}" style="{{ if eq .Title $title}} background-color:yellow;{{end}}">
        {{.Title}}</a></li>
{{ end}}
<br>


